<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/Cesium/Widgets/widgets.css' />
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Hello World!</title>
    <style>
      html, body{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0; padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="cesiumContainer">
        <div id="controlBoxContainer" class="controlBoxContainer">
            <span id="walkModeButton" class="walkModeButtonContainer" title="漫游模式" onclick="setWalkModeButtonOnStyle()"></span>
            <div id="viewerControlBoxContainer" class="viewerControlBoxContainer">
                <span id="moveUpButton" class="viewerControlButtonContainer"></span>
                <span id="moveDownButton" class="viewerControlButtonContainer"></span>
                <span id="rotateLeftButton" class="viewerControlButtonContainer"></span>
                <span id="rotateRightBUtton" class="viewerControlButtonContainer"></span>
            </div>
            <div id="heightShowerBoxContainer" class="heightShowerBoxContainer">当前高度:
                <span id="heightNumber">-</span><span> m</span>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/stylesheets/FAV_UI.css" />
    <script src="/javascripts/Cesium/Cesium.js"></script>
    <script src="/javascripts/FirstAngleOfView.js"></script>
  </body>
</html>
